{% extends "base.html" %}
{% block content %}

<div class="filter-add-container">
  <div class="filter-section">
    <form method="GET" class="filter-form">
      <div class="filter-group">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="filter-group">
        <label for="year">Year:</label>
        <input type="number" name="year" placeholder="Year">
      </div>
      <div class="filter-group">
        <label for="genre">Genre:</label>
        <select name="genre">
          <option value="">All Genres</option>
          {% for genre in genres %}
          <option value="{{ genre.id_genre }}">{{ genre.genre_name }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="filter-button">Apply Filters</button>
    </form>
    <hr>
    <ul>
      {% for movie in movies %}
      <li>{{ movie.title }} ({{ movie.release_year }}) -
        {% for genre in movie.genres %}
          {{ genre.genre_name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
        <a href="{{ url_for('show_movies.edit_movie', movie_id=movie.id_movie) }}">Edit</a>
        <a href="{{ url_for('show_movies.delete_movie', movie_id=movie.id_movie) }}" method="post">Delete</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="add-movie-section">
    <form method="POST">
      <input type="text" name="title" placeholder="Title" required>
      <input type="number" name="year" placeholder="Year" required>
      <label for="genre_ids">Genres:</label><br>
      {% for genre in genres %}
      <input type="checkbox" name="genre_ids" value="{{ genre.id_genre }}"> {{ genre.genre_name }}<br>
      {% endfor %}
      <button type="submit">Add Movie</button>
    </form>
  </div>
</div>

{% endblock %}